main {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
h1 {
  text-align: center;
}

.btn-container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
  border-radius: 10px;
  min-height: 2rem;
  max-width: 15rem;
}

a {
  text-decoration: none;
}
